<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot name="test_jean">
 <!-- a "link" is the part that we are creating. All the internal tags describe this part. -->
  <link name="world"/>

  <!--Cabin of jean-->
  <link name="cabin"> 
    <!--Inertial Frame -->
    <inertial>
      <origin xyz="0 0 0 " rpy="0 0 0" />
      <mass value="35.9737389131107" />
      <!--inertia matrix-->
      <inertia
        ixx="0.29221929557845"
        ixy="9.66146955461936E-18"
        ixz="3.80862716992568E-17"
        iyy="1.80051664011352"
        iyz="1.85395944369694E-17"
        izz="1.85206692955711" />
    </inertial>

    <!--The visual allows to specify the shape of the object -->
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
          <mesh filename="package://ur_description/meshes/cabin.dae" scale="15 30 20"/>
        </geometry>
        <material name="White">
          <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    
    <!--A collision describes an event where 2 bodies or more exerce a force on each other in relatively a short time-->
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ur_description/meshes/cabin.stl"  />
      </geometry>
     <material name="White">
          <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </collision>

  </link>
  

  

<!-- A joint allows us to create a relationship between two links-->

  <joint  name="world_link"  type="fixed">
    <origin  xyz="0.5 0.5 0"  rpy="-1.570796327 3.141592654 -4.71238898" />
    <parent link="world" />
    <child  link="cabin" />
  </joint>
 <!-- <gazebo reference ="jean">
    <material>Gazebo/Grey</material>
  </gazebo>-->
  <gazebo reference ="cabin">
    
    <material>Gazebo\White</material>
  </gazebo>
</robot>
