<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <!--<xacro:property name="camera_link" value="0.05" />-->
  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  /> 

  <link name="world" />

    <link name="support">
    <inertial>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <mass value="20"/>
      <inertia ixx="200" ixy="200" ixz="200" iyy="200" iyz="200" izz="200"/>
     </inertial>

     <visual>
       <origin xyz="0 0 0.5" rpy="0 0 0"/>
       <geometry>
        <box size='0.5 0.5 1'/>
         <!--<cylinder radius="0.1" length="1.0" />-->
       </geometry>
       <material name="Gray">
          <color rgba="0.5 0.5 0.5 0" />
       </material>
      </visual>
      
      <collision>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.1" length="1.0"/>
        </geometry>
      </collision>
    </link>

    <gazebo reference="support">
      
      <material>Gazebo/Grey</material>
     </gazebo>

   <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "support" />
    <origin xyz="0.0 0.0 -0.1" rpy="0.0 0.0 0.0" />
    </joint>

 <joint name="base_joint" type="fixed">
    <parent link="support" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 1.0" rpy="0.0 0.0 0.0" />
  </joint>

<!--xacro:include filename="$(find ur_description)/urdf/kinect_sensor.urdf.xacro" /> -->


</robot>
